# Devoir Forcasting

## Import des modules

In [ ]:
import numpy as np
import pandas as pd


import os
for dirname, _, filenames in os.walk('C:\\Users\\Utilisateur\\Desktop\\BE\\Fichiers\\Les_projets\\Data_Analyst\\Data\\m5'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

C:\Users\Utilisateur\Desktop\BE\Fichiers\Les_projets\Data_Analyst\Data\m5\calendar.csv
C:\Users\Utilisateur\Desktop\BE\Fichiers\Les_projets\Data_Analyst\Data\m5\sales_train_evaluation.csv
C:\Users\Utilisateur\Desktop\BE\Fichiers\Les_projets\Data_Analyst\Data\m5\sales_train_validation.csv
C:\Users\Utilisateur\Desktop\BE\Fichiers\Les_projets\Data_Analyst\Data\m5\sample_submission.csv
C:\Users\Utilisateur\Desktop\BE\Fichiers\Les_projets\Data_Analyst\Data\m5\sell_prices.csv

## Chargement et aperçu des données

In [ ]:

INPUT_DIR='C:\\Users\\Utilisateur\\Desktop\\BE\\Fichiers\\Les_projets\\Data_Analyst\\Data\\m5\\'
cal_data=pd.read_csv(INPUT_DIR+'calendar.csv')
salestv_data=pd.read_csv(INPUT_DIR+'sales_train_validation.csv')
ss_data=pd.read_csv(INPUT_DIR+'sample_submission.csv')
sellp_data=pd.read_csv(INPUT_DIR+'sell_prices.csv')

In [ ]:
timesteps= 14
startDay= 0

In [ ]:
salestv_data.shape

(30490, 1919)

In [ ]:
salestv_data.head()

,id,item_id,dept_id,cat_id,store_id,state_id,d_1,d_2,d_3,d_4,...,d_1904,d_1905,d_1906,d_1907,d_1908,d_1909,d_1910,d_1911,d_1912,d_1913
0,HOBBIES_1_001_CA_1_validation,HOBBIES_1_001,HOBBIES_1,HOBBIES,CA_1,CA,0,0,0,0,...,1,3,0,1,1,1,3,0,1,1
1,HOBBIES_1_002_CA_1_validation,HOBBIES_1_002,HOBBIES_1,HOBBIES,CA_1,CA,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
2,HOBBIES_1_003_CA_1_validation,HOBBIES_1_003,HOBBIES_1,HOBBIES,CA_1,CA,0,0,0,0,...,2,1,2,1,1,1,0,1,1,1
3,HOBBIES_1_004_CA_1_validation,HOBBIES_1_004,HOBBIES_1,HOBBIES,CA_1,CA,0,0,0,0,...,1,0,5,4,1,0,1,3,7,2
4,HOBBIES_1_005_CA_1_validation,HOBBIES_1_005,HOBBIES_1,HOBBIES,CA_1,CA,0,0,0,0,...,2,1,1,0,1,1,2,2,2,4

In [ ]:
cal_data.head()

,date,wm_yr_wk,weekday,wday,month,year,d,event_name_1,event_type_1,event_name_2,event_type_2,snap_CA,snap_TX,snap_WI
0,2011-01-29,11101,Saturday,1,1,2011,d_1,NaN,NaN,NaN,NaN,0,0,0
1,2011-01-30,11101,Sunday,2,1,2011,d_2,NaN,NaN,NaN,NaN,0,0,0
2,2011-01-31,11101,Monday,3,1,2011,d_3,NaN,NaN,NaN,NaN,0,0,0
3,2011-02-01,11101,Tuesday,4,2,2011,d_4,NaN,NaN,NaN,NaN,1,1,0
4,2011-02-02,11101,Wednesday,5,2,2011,d_5,NaN,NaN,NaN,NaN,1,0,1

In [ ]:
salestv_data.describe()

,d_1,d_2,d_3,d_4,d_5,d_6,d_7,d_8,d_9,d_10,...,d_1904,d_1905,d_1906,d_1907,d_1908,d_1909,d_1910,d_1911,d_1912,d_1913
count,30490.000000,30490.000000,30490.000000,30490.000000,30490.000000,30490.000000,30490.000000,30490.000000,30490.000000,30490.000000,...,30490.000000,30490.000000,30490.000000,30490.000000,30490.000000,30490.000000,30490.000000,30490.000000,30490.000000,30490.000000
mean,1.070220,1.041292,0.780026,0.833454,0.627944,0.958052,0.918662,1.244080,1.073663,0.838701,...,1.370581,1.586159,1.693670,1.248245,1.232207,1.159167,1.149000,1.328862,1.605838,1.633158
std,5.126689,5.365468,3.667454,4.415141,3.379344,4.785947,5.059495,6.617729,5.917204,4.206199,...,3.740017,4.097191,4.359809,3.276925,3.125471,2.876026,2.950364,3.358012,4.089422,3.812248
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,1.000000,2.000000,2.000000,1.000000,1.000000,1.000000,1.000000,1.000000,2.000000,2.000000
max,360.000000,436.000000,207.000000,323.000000,296.000000,314.000000,316.000000,370.000000,385.000000,353.000000,...,129.000000,160.000000,204.000000,98.000000,100.000000,88.000000,77.000000,141.000000,171.000000,130.000000

## Transformations des dataset

In [ ]:
def downcast_dtypes(df):
    float_cols = [c for c in df if df[c].dtype == 'float64']
    int_cols = [c for c in df if df[c].dtype in ['int32', 'int64']]
    df[float_cols] = df[float_cols].astype(np.float32)
    df[int_cols] = df[int_cols].astype(np.int16)
    return df

In [ ]:
salestv_data_downcast = downcast_dtypes(salestv_data)

In [ ]:
print(salestv_data_downcast.info(5))

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30490 entries, 0 to 30489
Data columns (total 1919 columns):
 #     Column    Dtype
---    ------    -----
 0     id        object
 1     item_id   object
 2     dept_id   object
 3     cat_id    object
 4     store_id  object
 5     state_id  object
 6     d_1       int16
 7     d_2       int16
 8     d_3       int16
 9     d_4       int16
 10    d_5       int16
 11    d_6       int16
 12    d_7       int16
 13    d_8       int16
 14    d_9       int16
 15    d_10      int16
 16    d_11      int16
 17    d_12      int16
 18    d_13      int16
 19    d_14      int16
 20    d_15      int16
 21    d_16      int16
 22    d_17      int16
 23    d_18      int16
 24    d_19      int16
 25    d_20      int16
 26    d_21      int16
 27    d_22      int16
 28    d_23      int16
 29    d_24      int16
 30    d_25      int16
 31    d_26      int16
 32    d_27      int16
 33    d_28      int16
 34    d_29      int16
 35    d_30      int16
 36    d_31      int16
 37    d_32      int16
 38    d_33      int16
 39    d_34      int16
 40    d_35      int16
 41    d_36      int16
 42    d_37      int16
 43    d_38      int16
 44    d_39      int16
 45    d_40      int16
 46    d_41      int16
 47    d_42      int16
 48    d_43      int16
 49    d_44      int16
 50    d_45      int16
 51    d_46      int16
 52    d_47      int16
 53    d_48      int16
 54    d_49      int16
 55    d_50      int16
 56    d_51      int16
 57    d_52      int16
 58    d_53      int16
 59    d_54      int16
 60    d_55      int16
 61    d_56      int16
 62    d_57      int16
 63    d_58      int16
 64    d_59      int16
 65    d_60      int16
 66    d_61      int16
 67    d_62      int16
 68    d_63      int16
 69    d_64      int16
 70    d_65      int16
 71    d_66      int16
 72    d_67      int16
 73    d_68      int16
 74    d_69      int16
 75    d_70      int16
 76    d_71      int16
 77    d_72      int16
 78    d_73      int16
 79    d_74      int16
 80    d_75      int16
 81    d_76      int16
 82    d_77      int16
 83    d_78      int16
 84    d_79      int16
 85    d_80      int16
 86    d_81      int16
 87    d_82      int16
 88    d_83      int16
 89    d_84      int16
 90    d_85      int16
 91    d_86      int16
 92    d_87      int16
 93    d_88      int16
 94    d_89      int16
 95    d_90      int16
 96    d_91      int16
 97    d_92      int16
 98    d_93      int16
 99    d_94      int16
 100   d_95      int16
 101   d_96      int16
 102   d_97      int16
 103   d_98      int16
 104   d_99      int16
 105   d_100     int16
 106   d_101     int16
 107   d_102     int16
 108   d_103     int16
 109   d_104     int16
 110   d_105     int16
 111   d_106     int16
 112   d_107     int16
 113   d_108     int16
 114   d_109     int16
 115   d_110     int16
 116   d_111     int16
 117   d_112     int16
 118   d_113     int16
 119   d_114     int16
 120   d_115     int16
 121   d_116     int16
 122   d_117     int16
 123   d_118     int16
 124   d_119     int16
 125   d_120     int16
 126   d_121     int16
 127   d_122     int16
 128   d_123     int16
 129   d_124     int16
 130   d_125     int16
 131   d_126     int16
 132   d_127     int16
 133   d_128     int16
 134   d_129     int16
 135   d_130     int16
 136   d_131     int16
 137   d_132     int16
 138   d_133     int16
 139   d_134     int16
 140   d_135     int16
 141   d_136     int16
 142   d_137     int16
 143   d_138     int16
 144   d_139     int16
 145   d_140     int16
 146   d_141     int16
 147   d_142     int16
 148   d_143     int16
 149   d_144     int16
 150   d_145     int16
 151   d_146     int16
 152   d_147     int16
 153   d_148     int16
 154   d_149     int16
 155   d_150     int16
 156   d_151     int16
 157   d_152     int16
 158   d_153     int16
 159   d_154     int16
 160   d_155     int16
 161   d_156     int16
 162   d_157     int16
 163   d_158     int16
 164   d_159     int16
 165   d_160     int16
 166   d_161     int16
 167   d_162     int16
 168   d_163     int16
 169   d_164     int16
 170   d_165     int16
 171   d_166     int16
 172   d_167     int16
 173   d_168     int16
 174   d_169     int16
 175   d_170     int16
 176   d_171     int16
 177   d_172     int16
 178   d_173     int16
 179   d_174     int16
 180   d_175     int16
 181   d_176     int16
 182   d_177     int16
 183   d_178     int16
 184   d_179     int16
 185   d_180     int16
 186   d_181     int16
 187   d_182     int16
 188   d_183     int16
 189   d_184     int16
 190   d_185     int16
 191   d_186     int16
 192   d_187     int16
 193   d_188     int16
 194   d_189     int16
 195   d_190     int16
 196   d_191     int16
 197   d_192     int16
 198   d_193     int16
 199   d_194     int16
 200   d_195     int16
 201   d_196     int16
 202   d_197     int16
 203   d_198     int16
 204   d_199     int16
 205   d_200     int16
 206   d_201     int16
 207   d_202     int16
 208   d_203     int16
 209   d_204     int16
 210   d_205     int16
 211   d_206     int16
 212   d_207     int16
 213   d_208     int16
 214   d_209     int16
 215   d_210     int16
 216   d_211     int16
 217   d_212     int16
 218   d_213     int16
 219   d_214     int16
 220   d_215     int16
 221   d_216     int16
 222   d_217     int16
 223   d_218     int16
 224   d_219     int16
 225   d_220     int16
 226   d_221     int16
 227   d_222     int16
 228   d_223     int16
 229   d_224     int16
 230   d_225     int16
 231   d_226     int16
 232   d_227     int16
 233   d_228     int16
 234   d_229     int16
 235   d_230     int16
 236   d_231     int16
 237   d_232     int16
 238   d_233     int16
 239   d_234     int16
 240   d_235     int16
 241   d_236     int16
 242   d_237     int16
 243   d_238     int16
 244   d_239     int16
 245   d_240     int16
 246   d_241     int16
 247   d_242     int16
 248   d_243     int16
 249   d_244     int16
 250   d_245     int16
 251   d_246     int16
 252   d_247     int16
 253   d_248     int16
 254   d_249     int16
 255   d_250     int16
 256   d_251     int16
 257   d_252     int16
 258   d_253     int16
 259   d_254     int16
 260   d_255     int16
 261   d_256     int16
 262   d_257     int16
 263   d_258     int16
 264   d_259     int16
 265   d_260     int16
 266   d_261     int16
 267   d_262     int16
 268   d_263     int16
 269   d_264     int16
 270   d_265     int16
 271   d_266     int16
 272   d_267     int16
 273   d_268     int16
 274   d_269     int16
 275   d_270     int16
 276   d_271     int16
 277   d_272     int16
 278   d_273     int16
 279   d_274     int16
 280   d_275     int16
 281   d_276     int16
 282   d_277     int16
 283   d_278     int16
 284   d_279     int16
 285   d_280     int16
 286   d_281     int16
 287   d_282     int16
 288   d_283     int16
 289   d_284     int16
 290   d_285     int16
 291   d_286     int16
 292   d_287     int16
 293   d_288     int16
 294   d_289     int16
 295   d_290     int16
 296   d_291     int16
 297   d_292     int16
 298   d_293     int16
 299   d_294     int16
 300   d_295     int16
 301   d_296     int16
 302   d_297     int16
 303   d_298     int16
 304   d_299     int16
 305   d_300     int16
 306   d_301     int16
 307   d_302     int16
 308   d_303     int16
 309   d_304     int16
 310   d_305     int16
 311   d_306     int16
 312   d_307     int16
 313   d_308     int16
 314   d_309     int16
 315   d_310     int16
 316   d_311     int16
 317   d_312     int16
 318   d_313     int16
 319   d_314     int16
 320   d_315     int16
 321   d_316     int16
 322   d_317     int16
 323   d_318     int16
 324   d_319     int16
 325   d_320     int16
 326   d_321     int16
 327   d_322     int16
 328   d_323     int16
 329   d_324     int16
 330   d_325     int16
 331   d_326     int16
 332   d_327     int16
 333   d_328     int16
 334   d_329     int16
 335   d_330     int16
 336   d_331     int16
 337   d_332     int16
 338   d_333     int16
 339   d_334     int16
 340   d_335     int16
 341   d_336     int16
 342   d_337     int16
 343   d_338     int16
 344   d_339     int16
 345   d_340     int16
 346   d_341     int16
 347   d_342     int16
 348   d_343     int16
 349   d_344     int16
 350   d_345     int16
 351   d_346     int16
 352   d_347     int16
 353   d_348     int16
 354   d_349     int16
 355   d_350     int16
 356   d_351     int16
 357   d_352     int16
 358   d_353     int16
 359   d_354     int16
 360   d_355     int16
 361   d_356     int16
 362   d_357     int16
 363   d_358     int16
 364   d_359     int16
 365   d_360     int16
 366   d_361     int16
 367   d_362     int16
 368   d_363     int16
 369   d_364     int16
 370   d_365     int16
 371   d_366     int16
 372   d_367     int16
 373   d_368     int16
 374   d_369     int16
 375   d_370     int16
 376   d_371     int16
 377   d_372     int16
 378   d_373     int16
 379   d_374     int16
 380   d_375     int16
 381   d_376     int16
 382   d_377     int16
 383   d_378     int16
 384   d_379     int16
 385   d_380     int16
 386   d_381     int16
 387   d_382     int16
 388   d_383     int16
 389   d_384     int16
 390   d_385     int16
 391   d_386     int16
 392   d_387     int16
 393   d_388     int16
 394   d_389     int16
 395   d_390     int16
 396   d_391     int16
 397   d_392     int16
 398   d_393     int16
 399   d_394     int16
 400   d_395     int16
 401   d_396     int16
 402   d_397     int16
 403   d_398     int16
 404   d_399     int16
 405   d_400     int16
 406   d_401     int16
 407   d_402     int16
 408   d_403     int16
 409   d_404     int16
 410   d_405     int16
 411   d_406     int16
 412   d_407     int16
 413   d_408     int16
 414   d_409     int16
 415   d_410     int16
 416   d_411     int16
 417   d_412     int16
 418   d_413     int16
 419   d_414     int16
 420   d_415     int16
 421   d_416     int16
 422   d_417     int16
 423   d_418     int16
 424   d_419     int16
 425   d_420     int16
 426   d_421     int16
 427   d_422     int16
 428   d_423     int16
 429   d_424     int16
 430   d_425     int16
 431   d_426     int16
 432   d_427     int16
 433   d_428     int16
 434   d_429     int16
 435   d_430     int16
 436   d_431     int16
 437   d_432     int16
 438   d_433     int16
 439   d_434     int16
 440   d_435     int16
 441   d_436     int16
 442   d_437     int16
 443   d_438     int16
 444   d_439     int16
 445   d_440     int16
 446   d_441     int16
 447   d_442     int16
 448   d_443     int16
 449   d_444     int16
 450   d_445     int16
 451   d_446     int16
 452   d_447     int16
 453   d_448     int16
 454   d_449     int16
 455   d_450     int16
 456   d_451     int16
 457   d_452     int16
 458   d_453     int16
 459   d_454     int16
 460   d_455     int16
 461   d_456     int16
 462   d_457     int16
 463   d_458     int16
 464   d_459     int16
 465   d_460     int16
 466   d_461     int16
 467   d_462     int16
 468   d_463     int16
 469   d_464     int16
 470   d_465     int16
 471   d_466     int16
 472   d_467     int16
 473   d_468     int16
 474   d_469     int16
 475   d_470     int16
 476   d_471     int16
 477   d_472     int16
 478   d_473     int16
 479   d_474     int16
 480   d_475     int16
 481   d_476     int16
 482   d_477     int16
 483   d_478     int16
 484   d_479     int16
 485   d_480     int16
 486   d_481     int16
 487   d_482     int16
 488   d_483     int16
 489   d_484     int16
 490   d_485     int16
 491   d_486     int16
 492   d_487     int16
 493   d_488     int16
 494   d_489     int16
 495   d_490     int16
 496   d_491     int16
 497   d_492     int16
 498   d_493     int16
 499   d_494     int16
 500   d_495     int16
 501   d_496     int16
 502   d_497     int16
 503   d_498     int16
 504   d_499     int16
 505   d_500     int16
 506   d_501     int16
 507   d_502     int16
 508   d_503     int16
 509   d_504     int16
 510   d_505     int16
 511   d_506     int16
 512   d_507     int16
 513   d_508     int16
 514   d_509     int16
 515   d_510     int16
 516   d_511     int16
 517   d_512     int16
 518   d_513     int16
 519   d_514     int16
 520   d_515     int16
 521   d_516     int16
 522   d_517     int16
 523   d_518     int16
 524   d_519     int16
 525   d_520     int16
 526   d_521     int16
 527   d_522     int16
 528   d_523     int16
 529   d_524     int16
 530   d_525     int16
 531   d_526     int16
 532   d_527     int16
 533   d_528     int16
 534   d_529     int16
 535   d_530     int16
 536   d_531     int16
 537   d_532     int16
 538   d_533     int16
 539   d_534     int16
 540   d_535     int16
 541   d_536     int16
 542   d_537     int16
 543   d_538     int16
 544   d_539     int16
 545   d_540     int16
 546   d_541     int16
 547   d_542     int16
 548   d_543     int16
 549   d_544     int16
 550   d_545     int16
 551   d_546     int16
 552   d_547     int16
 553   d_548     int16
 554   d_549     int16
 555   d_550     int16
 556   d_551     int16
 557   d_552     int16
 558   d_553     int16
 559   d_554     int16
 560   d_555     int16
 561   d_556     int16
 562   d_557     int16
 563   d_558     int16
 564   d_559     int16
 565   d_560     int16
 566   d_561     int16
 567   d_562     int16
 568   d_563     int16
 569   d_564     int16
 570   d_565     int16
 571   d_566     int16
 572   d_567     int16
 573   d_568     int16
 574   d_569     int16
 575   d_570     int16
 576   d_571     int16
 577   d_572     int16
 578   d_573     int16
 579   d_574     int16
 580   d_575     int16
 581   d_576     int16
 582   d_577     int16
 583   d_578     int16
 584   d_579     int16
 585   d_580     int16
 586   d_581     int16
 587   d_582     int16
 588   d_583     int16
 589   d_584     int16
 590   d_585     int16
 591   d_586     int16
 592   d_587     int16
 593   d_588     int16
 594   d_589     int16
 595   d_590     int16
 596   d_591     int16
 597   d_592     int16
 598   d_593     int16
 599   d_594     int16
 600   d_595     int16
 601   d_596     int16
 602   d_597     int16
 603   d_598     int16
 604   d_599     int16
 605   d_600     int16
 606   d_601     int16
 607   d_602     int16
 608   d_603     int16
 609   d_604     int16
 610   d_605     int16
 611   d_606     int16
 612   d_607     int16
 613   d_608     int16
 614   d_609     int16
 615   d_610     int16
 616   d_611     int16
 617   d_612     int16
 618   d_613     int16
 619   d_614     int16
 620   d_615     int16
 621   d_616     int16
 622   d_617     int16
 623   d_618     int16
 624   d_619     int16
 625   d_620     int16
 626   d_621     int16
 627   d_622     int16
 628   d_623     int16
 629   d_624     int16
 630   d_625     int16
 631   d_626     int16
 632   d_627     int16
 633   d_628     int16
 634   d_629     int16
 635   d_630     int16
 636   d_631     int16
 637   d_632     int16
 638   d_633     int16
 639   d_634     int16
 640   d_635     int16
 641   d_636     int16
 642   d_637     int16
 643   d_638     int16
 644   d_639     int16
 645   d_640     int16
 646   d_641     int16
 647   d_642     int16
 648   d_643     int16
 649   d_644     int16
 650   d_645     int16
 651   d_646     int16
 652   d_647     int16
 653   d_648     int16
 654   d_649     int16
 655   d_650     int16
 656   d_651     int16
 657   d_652     int16
 658   d_653     int16
 659   d_654     int16
 660   d_655     int16
 661   d_656     int16
 662   d_657     int16
 663   d_658     int16
 664   d_659     int16
 665   d_660     int16
 666   d_661     int16
 667   d_662     int16
 668   d_663     int16
 669   d_664     int16
 670   d_665     int16
 671   d_666     int16
 672   d_667     int16
 673   d_668     int16
 674   d_669     int16
 675   d_670     int16
 676   d_671     int16
 677   d_672     int16
 678   d_673     int16
 679   d_674     int16
 680   d_675     int16
 681   d_676     int16
 682   d_677     int16
 683   d_678     int16
 684   d_679     int16
 685   d_680     int16
 686   d_681     int16
 687   d_682     int16
 688   d_683     int16
 689   d_684     int16
 690   d_685     int16
 691   d_686     int16
 692   d_687     int16
 693   d_688     int16
 694   d_689     int16
 695   d_690     int16
 696   d_691     int16
 697   d_692     int16
 698   d_693     int16
 699   d_694     int16
 700   d_695     int16
 701   d_696     int16
 702   d_697     int16
 703   d_698     int16
 704   d_699     int16
 705   d_700     int16
 706   d_701     int16
 707   d_702     int16
 708   d_703     int16
 709   d_704     int16
 710   d_705     int16
 711   d_706     int16
 712   d_707     int16
 713   d_708     int16
 714   d_709     int16
 715   d_710     int16
 716   d_711     int16
 717   d_712     int16
 718   d_713     int16
 719   d_714     int16
 720   d_715     int16
 721   d_716     int16
 722   d_717     int16
 723   d_718     int16
 724   d_719     int16
 725   d_720     int16
 726   d_721     int16
 727   d_722     int16
 728   d_723     int16
 729   d_724     int16
 730   d_725     int16
 731   d_726     int16
 732   d_727     int16
 733   d_728     int16
 734   d_729     int16
 735   d_730     int16
 736   d_731     int16
 737   d_732     int16
 738   d_733     int16
 739   d_734     int16
 740   d_735     int16
 741   d_736     int16
 742   d_737     int16
 743   d_738     int16
 744   d_739     int16
 745   d_740     int16
 746   d_741     int16
 747   d_742     int16
 748   d_743     int16
 749   d_744     int16
 750   d_745     int16
 751   d_746     int16
 752   d_747     int16
 753   d_748     int16
 754   d_749     int16
 755   d_750     int16
 756   d_751     int16
 757   d_752     int16
 758   d_753     int16
 759   d_754     int16
 760   d_755     int16
 761   d_756     int16
 762   d_757     int16
 763   d_758     int16
 764   d_759     int16
 765   d_760     int16
 766   d_761     int16
 767   d_762     int16
 768   d_763     int16
 769   d_764     int16
 770   d_765     int16
 771   d_766     int16
 772   d_767     int16
 773   d_768     int16
 774   d_769     int16
 775   d_770     int16
 776   d_771     int16
 777   d_772     int16
 778   d_773     int16
 779   d_774     int16
 780   d_775     int16
 781   d_776     int16
 782   d_777     int16
 783   d_778     int16
 784   d_779     int16
 785   d_780     int16
 786   d_781     int16
 787   d_782     int16
 788   d_783     int16
 789   d_784     int16
 790   d_785     int16
 791   d_786     int16
 792   d_787     int16
 793   d_788     int16
 794   d_789     int16
 795   d_790     int16
 796   d_791     int16
 797   d_792     int16
 798   d_793     int16
 799   d_794     int16
 800   d_795     int16
 801   d_796     int16
 802   d_797     int16
 803   d_798     int16
 804   d_799     int16
 805   d_800     int16
 806   d_801     int16
 807   d_802     int16
 808   d_803     int16
 809   d_804     int16
 810   d_805     int16
 811   d_806     int16
 812   d_807     int16
 813   d_808     int16
 814   d_809     int16
 815   d_810     int16
 816   d_811     int16
 817   d_812     int16
 818   d_813     int16
 819   d_814     int16
 820   d_815     int16
 821   d_816     int16
 822   d_817     int16
 823   d_818     int16
 824   d_819     int16
 825   d_820     int16
 826   d_821     int16
 827   d_822     int16
 828   d_823     int16
 829   d_824     int16
 830   d_825     int16
 831   d_826     int16
 832   d_827     int16
 833   d_828     int16
 834   d_829     int16
 835   d_830     int16
 836   d_831     int16
 837   d_832     int16
 838   d_833     int16
 839   d_834     int16
 840   d_835     int16
 841   d_836     int16
 842   d_837     int16
 843   d_838     int16
 844   d_839     int16
 845   d_840     int16
 846   d_841     int16
 847   d_842     int16
 848   d_843     int16
 849   d_844     int16
 850   d_845     int16
 851   d_846     int16
 852   d_847     int16
 853   d_848     int16
 854   d_849     int16
 855   d_850     int16
 856   d_851     int16
 857   d_852     int16
 858   d_853     int16
 859   d_854     int16
 860   d_855     int16
 861   d_856     int16

In [ ]:
salestv_data_downcast = salestv_data_downcast.T

In [ ]:
salestv_data_downcast.shape
salestv_data_downcast.head(8)

,0,1,2,3,4,5,6,7,8,9,...,30480,30481,30482,30483,30484,30485,30486,30487,30488,30489
id,HOBBIES_1_001_CA_1_validation,HOBBIES_1_002_CA_1_validation,HOBBIES_1_003_CA_1_validation,HOBBIES_1_004_CA_1_validation,HOBBIES_1_005_CA_1_validation,HOBBIES_1_006_CA_1_validation,HOBBIES_1_007_CA_1_validation,HOBBIES_1_008_CA_1_validation,HOBBIES_1_009_CA_1_validation,HOBBIES_1_010_CA_1_validation,...,FOODS_3_818_WI_3_validation,FOODS_3_819_WI_3_validation,FOODS_3_820_WI_3_validation,FOODS_3_821_WI_3_validation,FOODS_3_822_WI_3_validation,FOODS_3_823_WI_3_validation,FOODS_3_824_WI_3_validation,FOODS_3_825_WI_3_validation,FOODS_3_826_WI_3_validation,FOODS_3_827_WI_3_validation
item_id,HOBBIES_1_001,HOBBIES_1_002,HOBBIES_1_003,HOBBIES_1_004,HOBBIES_1_005,HOBBIES_1_006,HOBBIES_1_007,HOBBIES_1_008,HOBBIES_1_009,HOBBIES_1_010,...,FOODS_3_818,FOODS_3_819,FOODS_3_820,FOODS_3_821,FOODS_3_822,FOODS_3_823,FOODS_3_824,FOODS_3_825,FOODS_3_826,FOODS_3_827
dept_id,HOBBIES_1,HOBBIES_1,HOBBIES_1,HOBBIES_1,HOBBIES_1,HOBBIES_1,HOBBIES_1,HOBBIES_1,HOBBIES_1,HOBBIES_1,...,FOODS_3,FOODS_3,FOODS_3,FOODS_3,FOODS_3,FOODS_3,FOODS_3,FOODS_3,FOODS_3,FOODS_3
cat_id,HOBBIES,HOBBIES,HOBBIES,HOBBIES,HOBBIES,HOBBIES,HOBBIES,HOBBIES,HOBBIES,HOBBIES,...,FOODS,FOODS,FOODS,FOODS,FOODS,FOODS,FOODS,FOODS,FOODS,FOODS
store_id,CA_1,CA_1,CA_1,CA_1,CA_1,CA_1,CA_1,CA_1,CA_1,CA_1,...,WI_3,WI_3,WI_3,WI_3,WI_3,WI_3,WI_3,WI_3,WI_3,WI_3
state_id,CA,CA,CA,CA,CA,CA,CA,CA,CA,CA,...,WI,WI,WI,WI,WI,WI,WI,WI,WI,WI
d_1,0,0,0,0,0,0,0,12,2,0,...,0,14,1,0,4,0,0,0,0,0
d_2,0,0,0,0,0,0,0,15,0,0,...,0,11,1,0,4,0,0,6,0,0

In [ ]:
#suppression des 6 premières lignes (id, item_id, dept_id, cat_id, store_id, state_id)
salestv_data_downcast = salestv_data_downcast[6+startDay:]
salestv_data_downcast.head(8)

,0,1,2,3,4,5,6,7,8,9,...,30480,30481,30482,30483,30484,30485,30486,30487,30488,30489
d_1,0,0,0,0,0,0,0,12,2,0,...,0,14,1,0,4,0,0,0,0,0
d_2,0,0,0,0,0,0,0,15,0,0,...,0,11,1,0,4,0,0,6,0,0
d_3,0,0,0,0,0,0,0,0,7,1,...,0,5,1,0,2,2,0,0,0,0
d_4,0,0,0,0,0,0,0,0,3,0,...,0,6,1,0,5,2,0,2,0,0
d_5,0,0,0,0,0,0,0,0,0,0,...,0,5,1,0,2,0,0,2,0,0
d_6,0,0,0,0,0,0,0,4,2,0,...,0,13,2,0,7,3,5,4,0,0
d_7,0,0,0,0,0,0,0,6,3,0,...,0,18,1,0,8,1,0,1,0,0
d_8,0,0,0,0,0,0,0,5,9,0,...,0,13,3,0,4,4,1,8,0,0

In [ ]:
# création d'un dataframe avc des zéros pour 1969 jours dans le calendrier - Pour stocker la connaissance si un événement existe le jour suivant
daysBeforeEvent = pd.DataFrame(np.zeros((1969,1)))

In [ ]:
# 1 est assigné au jour avant event_name_1
for x, y in cal_data.iterrows():
    if x!=0 and (pd.isnull(cal_data['event_name_1'][x]) == False):
        daysBeforeEvent[0][x-1]=1

C:\Users\Utilisateur\AppData\Local\Temp\ipykernel_7860\3256022144.py:4: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  daysBeforeEvent[0][x-1]=1

In [ ]:
# daysBeforeEvent is used as a feature and also to train and test the validations
daysBeforeEventTest = daysBeforeEvent[1913:1941]
daysBeforeEventTrain = daysBeforeEvent[startDay:1913]
print(daysBeforeEventTest.shape)
print(daysBeforeEventTest[:5])

(28, 1)
        0
1913  0.0
1914  0.0
1915  0.0
1916  0.0
1917  1.0

In [ ]:
daysBeforeEventTrain.columns = ['oneDayBeforeEvent']
daysBeforeEventTrain.index = salestv_data_downcast.index

In [ ]:
final_data = pd.concat([salestv_data_downcast, daysBeforeEventTrain], axis=1)
final_data.head(10)

,0,1,2,3,4,5,6,7,8,9,...,30481,30482,30483,30484,30485,30486,30487,30488,30489,oneDayBeforeEvent
d_1,0,0,0,0,0,0,0,12,2,0,...,14,1,0,4,0,0,0,0,0,0.0
d_2,0,0,0,0,0,0,0,15,0,0,...,11,1,0,4,0,0,6,0,0,0.0
d_3,0,0,0,0,0,0,0,0,7,1,...,5,1,0,2,2,0,0,0,0,0.0
d_4,0,0,0,0,0,0,0,0,3,0,...,6,1,0,5,2,0,2,0,0,0.0
d_5,0,0,0,0,0,0,0,0,0,0,...,5,1,0,2,0,0,2,0,0,0.0
d_6,0,0,0,0,0,0,0,4,2,0,...,13,2,0,7,3,5,4,0,0,0.0
d_7,0,0,0,0,0,0,0,6,3,0,...,18,1,0,8,1,0,1,0,0,0.0
d_8,0,0,0,0,0,0,0,5,9,0,...,13,3,0,4,4,1,8,0,0,1.0
d_9,0,0,0,0,0,0,0,7,0,0,...,18,4,0,4,1,1,5,0,0,0.0
d_10,0,0,0,0,0,0,0,0,0,0,...,19,1,0,1,0,3,2,0,0,0.0

## Sélection de 10 produits

In [ ]:
# Sélection de 10 colonnes aléatoires parmi les colonnes nommés de 0 à 30489 en ajoutant la dernière colonne

product_columns = final_data.columns[:-1]

np.random.seed(42)

selected_products = np.random.choice(product_columns, size=10, replace=False)

columns_to_keep = list(selected_products) + ['oneDayBeforeEvent']


df_sample = final_data[columns_to_keep]

print("✅ 10 produits sélectionnés aléatoirement :")
print(selected_products)
print("\nAperçu du DataFrame résultant :")
df_sample.head(10)

✅ 10 produits sélectionnés aléatoirement :
[2404 7576 8731 4756 15509 9773 17439 19244 1092 16750]

Aperçu du DataFrame résultant :

     2404 7576 8731 4756 15509 9773 17439 19244 1092 16750  oneDayBeforeEvent
d_1     0    2    0    0     0    0    14     5    3     1                0.0
d_2     0    0    0    0     0    0    14     3    1     1                0.0
d_3     0    2    0    0     0    0     9     0    1     1                0.0
d_4     0    0    0    0     0    0    14     1    0     0                0.0
d_5     0    2    0    0     0    0     7     0    1     1                0.0
d_6     0    0    0    0     0    0    27     2    0     0                0.0
d_7     0    0    0    0     0    0     7     4    0     0                0.0
d_8     0    1    0    0     0    0    18     0    3     0                1.0
d_9     0    0    0    0     0    0    54     3    1     2                0.0
d_10    0    0    0    0     0    0     9     0    0     0                0.0

In [ ]:

print(df_sample.dtypes)

df_sample[selected_products]= df_sample[selected_products].astype(int)

2404                  object
7576                  object
8731                  object
4756                  object
15509                 object
9773                  object
17439                 object
19244                 object
1092                  object
16750                 object
oneDayBeforeEvent    float64
dtype: object

C:\Users\Utilisateur\AppData\Local\Temp\ipykernel_7860\1889104593.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_sample[selected_products]= df_sample[selected_products].astype(int)

In [ ]:

df_sample.columns = df_sample.columns.astype(str)

In [ ]:
from sklearn.preprocessing import MinMaxScaler

sc = MinMaxScaler(feature_range=(0,1))
final_data_scaled = sc.fit_transform(df_sample)

print(final_data_scaled)

[[0.         0.2        0.         ... 0.5        0.125      0.        ]
 [0.         0.         0.         ... 0.16666667 0.125      0.        ]
 [0.         0.2        0.         ... 0.16666667 0.125      0.        ]
 ...
 [0.         0.         0.25       ... 0.16666667 0.         0.        ]
 [0.25       0.         0.         ... 0.16666667 0.         0.        ]
 [0.         0.1        0.         ... 0.5        0.         0.        ]]

In [ ]:
final_data_scaled.shape

(1913, 11)

In [ ]:
# --- Initialisation des listes ---
X_train = []
y_train = []

# --- Génération des séquences ---
for i in range(timesteps, final_data_scaled.shape[0] - startDay):
    X_train.append(final_data_scaled[i - timesteps:i])
     # Valeur cible = les 10 produits au jour i
    y_train.append(final_data_scaled[i, :-1])

X_train = np.array(X_train)
y_train = np.array(y_train)

print("✅ X_train shape:", X_train.shape)
print("✅ y_train shape:", y_train.shape)

✅ X_train shape: (1899, 14, 11)
✅ y_train shape: (1899, 10)

## MLP model - keras implementation

In [ ]:
from keras.models import Sequential
from keras.layers import Dense, Dropout, Flatten

mlp = Sequential([
    Flatten(input_shape=(X_train.shape[1], X_train.shape[2])),
    Dense(128, activation='relu'),
    Dropout(0.2),
    Dense(64, activation='relu'),
    Dropout(0.2),
    Dense(y_train.shape[1])
])

mlp.compile(optimizer='adam', loss='mean_squared_error')

mlp.fit(X_train, y_train, epochs=32, batch_size=44)

Epoch 1/32

c:\Users\Utilisateur\Desktop\BE\Fichiers\Les_projets\Data_Analyst\env\lib\site-packages\keras\src\layers\reshaping\flatten.py:37: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(**kwargs)

44/44 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 0.0200
Epoch 2/32
44/44 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - loss: 0.0150
Epoch 3/32
44/44 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - loss: 0.0143
Epoch 4/32
44/44 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 0.0138
Epoch 5/32
44/44 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - loss: 0.0136
Epoch 6/32
44/44 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - loss: 0.0132
Epoch 7/32
44/44 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - loss: 0.0130
Epoch 8/32
44/44 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 0.0128
Epoch 9/32
44/44 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - loss: 0.0125
Epoch 10/32
44/44 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - loss: 0.0123
Epoch 11/32
44/44 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - loss: 0.0120
Epoch 12/32
44/44 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - loss: 0.0117
Epoch 13/32
44/44 ━━━━━━━━━━━━━━━━━━━━ 0s 4ms/step - loss: 0.0116
Epoch 14/32
44/44 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - loss: 0.0113
Epoch 15/32
44/44 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - loss: 0.0112
Epoch 16/32
44/44 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - loss: 0.0109
Epoch 17/32
44/44 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - loss: 0.0107
Epoch 18/32
44/44 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - loss: 0.0105
Epoch 19/32
44/44 ━━━━━━━━━━━━━━━━━━━━ 0s 4ms/step - loss: 0.0100
Epoch 20/32
44/44 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - loss: 0.0100
Epoch 21/32
44/44 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - loss: 0.0097
Epoch 22/32
44/44 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - loss: 0.0096
Epoch 23/32
44/44 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - loss: 0.0093
Epoch 24/32
44/44 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - loss: 0.0092
Epoch 25/32
44/44 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - loss: 0.0090
Epoch 26/32
44/44 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - loss: 0.0089
Epoch 27/32
44/44 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - loss: 0.0087
Epoch 28/32
44/44 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - loss: 0.0086
Epoch 29/32
44/44 ━━━━━━━━━━━━━━━━━━━━ 0s 5ms/step - loss: 0.0084
Epoch 30/32
44/44 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - loss: 0.0082
Epoch 31/32
44/44 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - loss: 0.0081
Epoch 32/32
44/44 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - loss: 0.0079

## RNN Simple model - keras implementation

In [ ]:
from keras.models import Sequential
from keras.layers import SimpleRNN, Dense, Dropout

rnn = Sequential([
    SimpleRNN(64, return_sequences=True, input_shape=(X_train.shape[1], X_train.shape[2])),
    Dropout(0.2),
    SimpleRNN(64),
    Dropout(0.2),
    Dense(y_train.shape[1])
])

rnn.compile(optimizer='adam', loss='mean_squared_error')

rnn.fit(X_train, y_train, epochs=32, batch_size=44)

Epoch 1/32

c:\Users\Utilisateur\Desktop\BE\Fichiers\Les_projets\Data_Analyst\env\lib\site-packages\keras\src\layers\rnn\rnn.py:199: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(**kwargs)

44/44 ━━━━━━━━━━━━━━━━━━━━ 2s 7ms/step - loss: 0.1554
Epoch 2/32
44/44 ━━━━━━━━━━━━━━━━━━━━ 0s 7ms/step - loss: 0.0600
Epoch 3/32
44/44 ━━━━━━━━━━━━━━━━━━━━ 0s 6ms/step - loss: 0.0375
Epoch 4/32
44/44 ━━━━━━━━━━━━━━━━━━━━ 0s 6ms/step - loss: 0.0284
Epoch 5/32
44/44 ━━━━━━━━━━━━━━━━━━━━ 0s 6ms/step - loss: 0.0232
Epoch 6/32
44/44 ━━━━━━━━━━━━━━━━━━━━ 0s 7ms/step - loss: 0.0210
Epoch 7/32
44/44 ━━━━━━━━━━━━━━━━━━━━ 0s 7ms/step - loss: 0.0190
Epoch 8/32
44/44 ━━━━━━━━━━━━━━━━━━━━ 0s 8ms/step - loss: 0.0176
Epoch 9/32
44/44 ━━━━━━━━━━━━━━━━━━━━ 0s 7ms/step - loss: 0.0170
Epoch 10/32
44/44 ━━━━━━━━━━━━━━━━━━━━ 0s 7ms/step - loss: 0.0164
Epoch 11/32
44/44 ━━━━━━━━━━━━━━━━━━━━ 0s 8ms/step - loss: 0.0157
Epoch 12/32
44/44 ━━━━━━━━━━━━━━━━━━━━ 0s 6ms/step - loss: 0.0157
Epoch 13/32
44/44 ━━━━━━━━━━━━━━━━━━━━ 0s 7ms/step - loss: 0.0151
Epoch 14/32
44/44 ━━━━━━━━━━━━━━━━━━━━ 0s 7ms/step - loss: 0.0147
Epoch 15/32
44/44 ━━━━━━━━━━━━━━━━━━━━ 0s 7ms/step - loss: 0.0147
Epoch 16/32
44/44 ━━━━━━━━━━━━━━━━━━━━ 0s 7ms/step - loss: 0.0145
Epoch 17/32
44/44 ━━━━━━━━━━━━━━━━━━━━ 0s 7ms/step - loss: 0.0142
Epoch 18/32
44/44 ━━━━━━━━━━━━━━━━━━━━ 0s 7ms/step - loss: 0.0141
Epoch 19/32
44/44 ━━━━━━━━━━━━━━━━━━━━ 0s 7ms/step - loss: 0.0140
Epoch 20/32
44/44 ━━━━━━━━━━━━━━━━━━━━ 0s 8ms/step - loss: 0.0138
Epoch 21/32
44/44 ━━━━━━━━━━━━━━━━━━━━ 0s 7ms/step - loss: 0.0138
Epoch 22/32
44/44 ━━━━━━━━━━━━━━━━━━━━ 0s 7ms/step - loss: 0.0137
Epoch 23/32
44/44 ━━━━━━━━━━━━━━━━━━━━ 0s 7ms/step - loss: 0.0137
Epoch 24/32
44/44 ━━━━━━━━━━━━━━━━━━━━ 0s 7ms/step - loss: 0.0138
Epoch 25/32
44/44 ━━━━━━━━━━━━━━━━━━━━ 0s 7ms/step - loss: 0.0135
Epoch 26/32
44/44 ━━━━━━━━━━━━━━━━━━━━ 0s 8ms/step - loss: 0.0134
Epoch 27/32
44/44 ━━━━━━━━━━━━━━━━━━━━ 0s 7ms/step - loss: 0.0133
Epoch 28/32
44/44 ━━━━━━━━━━━━━━━━━━━━ 0s 7ms/step - loss: 0.0133
Epoch 29/32
44/44 ━━━━━━━━━━━━━━━━━━━━ 0s 6ms/step - loss: 0.0132
Epoch 30/32
44/44 ━━━━━━━━━━━━━━━━━━━━ 0s 6ms/step - loss: 0.0132
Epoch 31/32
44/44 ━━━━━━━━━━━━━━━━━━━━ 0s 6ms/step - loss: 0.0132
Epoch 32/32
44/44 ━━━━━━━━━━━━━━━━━━━━ 0s 9ms/step - loss: 0.0131

## GRU model - keras implementation

In [ ]:
from keras.models import Sequential
from keras.layers import GRU, Dense, Dropout

gru_model = Sequential([
    GRU(64, return_sequences=True, input_shape=(X_train.shape[1], X_train.shape[2])),
    Dropout(0.2),
    GRU(64),
    Dropout(0.2),
    Dense(y_train.shape[1])  # 10 sorties produits
])

gru_model.compile(optimizer='adam', loss='mean_squared_error')

gru_model.fit(X_train, y_train, epochs=32, batch_size=44)

Epoch 1/32
44/44 ━━━━━━━━━━━━━━━━━━━━ 6s 16ms/step - loss: 0.0156
Epoch 2/32
44/44 ━━━━━━━━━━━━━━━━━━━━ 1s 18ms/step - loss: 0.0137
Epoch 3/32
44/44 ━━━━━━━━━━━━━━━━━━━━ 1s 17ms/step - loss: 0.0135
Epoch 4/32
44/44 ━━━━━━━━━━━━━━━━━━━━ 1s 15ms/step - loss: 0.0134
Epoch 5/32
44/44 ━━━━━━━━━━━━━━━━━━━━ 1s 15ms/step - loss: 0.0134
Epoch 6/32
44/44 ━━━━━━━━━━━━━━━━━━━━ 1s 14ms/step - loss: 0.0132
Epoch 7/32
44/44 ━━━━━━━━━━━━━━━━━━━━ 1s 15ms/step - loss: 0.0132
Epoch 8/32
44/44 ━━━━━━━━━━━━━━━━━━━━ 1s 13ms/step - loss: 0.0132
Epoch 9/32
44/44 ━━━━━━━━━━━━━━━━━━━━ 1s 13ms/step - loss: 0.0131
Epoch 10/32
44/44 ━━━━━━━━━━━━━━━━━━━━ 1s 13ms/step - loss: 0.0131
Epoch 11/32
44/44 ━━━━━━━━━━━━━━━━━━━━ 1s 14ms/step - loss: 0.0131
Epoch 12/32
44/44 ━━━━━━━━━━━━━━━━━━━━ 1s 13ms/step - loss: 0.0131
Epoch 13/32
44/44 ━━━━━━━━━━━━━━━━━━━━ 1s 13ms/step - loss: 0.0131
Epoch 14/32
44/44 ━━━━━━━━━━━━━━━━━━━━ 1s 15ms/step - loss: 0.0130
Epoch 15/32
44/44 ━━━━━━━━━━━━━━━━━━━━ 1s 13ms/step - loss: 0.0130
Epoch 16/32
44/44 ━━━━━━━━━━━━━━━━━━━━ 1s 14ms/step - loss: 0.0130
Epoch 17/32
44/44 ━━━━━━━━━━━━━━━━━━━━ 1s 14ms/step - loss: 0.0129
Epoch 18/32
44/44 ━━━━━━━━━━━━━━━━━━━━ 1s 16ms/step - loss: 0.0130
Epoch 19/32
44/44 ━━━━━━━━━━━━━━━━━━━━ 1s 13ms/step - loss: 0.0130
Epoch 20/32
44/44 ━━━━━━━━━━━━━━━━━━━━ 1s 13ms/step - loss: 0.0129
Epoch 21/32
44/44 ━━━━━━━━━━━━━━━━━━━━ 1s 12ms/step - loss: 0.0129
Epoch 22/32
44/44 ━━━━━━━━━━━━━━━━━━━━ 1s 14ms/step - loss: 0.0130
Epoch 23/32
44/44 ━━━━━━━━━━━━━━━━━━━━ 1s 13ms/step - loss: 0.0129
Epoch 24/32
44/44 ━━━━━━━━━━━━━━━━━━━━ 1s 14ms/step - loss: 0.0129
Epoch 25/32
44/44 ━━━━━━━━━━━━━━━━━━━━ 1s 13ms/step - loss: 0.0129
Epoch 26/32
44/44 ━━━━━━━━━━━━━━━━━━━━ 1s 12ms/step - loss: 0.0129
Epoch 27/32
44/44 ━━━━━━━━━━━━━━━━━━━━ 1s 13ms/step - loss: 0.0129
Epoch 28/32
44/44 ━━━━━━━━━━━━━━━━━━━━ 1s 13ms/step - loss: 0.0129
Epoch 29/32
44/44 ━━━━━━━━━━━━━━━━━━━━ 1s 12ms/step - loss: 0.0129
Epoch 30/32
44/44 ━━━━━━━━━━━━━━━━━━━━ 1s 12ms/step - loss: 0.0128
Epoch 31/32
44/44 ━━━━━━━━━━━━━━━━━━━━ 1s 13ms/step - loss: 0.0129
Epoch 32/32
44/44 ━━━━━━━━━━━━━━━━━━━━ 1s 13ms/step - loss: 0.0129

## Evaluation des modèles

In [ ]:
inputs = df_sample[-timesteps:]
inputs = sc.transform(inputs)
print(inputs)

[[0.         0.         0.         0.08333333 0.         0.
  0.12962963 0.5        0.16666667 0.375      0.        ]
 [0.         0.         0.125      0.08333333 0.         0.
  0.03703704 0.         0.16666667 0.375      0.        ]
 [0.         0.2        0.125      0.08333333 0.         0.33333333
  0.11111111 0.         0.16666667 0.125      0.        ]
 [0.25       0.1        0.         0.         0.         0.
  0.22222222 0.         0.66666667 0.25       0.        ]
 [0.         0.         0.         0.         0.         0.
  0.14814815 0.         0.16666667 0.         0.        ]
 [0.         0.2        0.         0.08333333 0.         0.
  0.05555556 0.         0.16666667 0.         0.        ]
 [0.25       0.         0.125      0.08333333 0.         0.66666667
  0.09259259 0.16666667 0.16666667 0.         0.        ]
 [0.5        0.1        0.         0.16666667 0.         0.
  0.16666667 0.5        0.16666667 0.125      0.        ]
 [0.         0.         0.         0.16666667 0.         0.
  0.12962963 0.         0.33333333 0.         0.        ]
 [0.         0.         0.125      0.         0.         0.33333333
  0.14814815 0.         0.16666667 0.125      0.        ]
 [0.         0.         0.125      0.16666667 0.         0.
  0.09259259 0.         0.33333333 0.375      0.        ]
 [0.         0.         0.25       0.16666667 0.         0.
  0.07407407 0.16666667 0.16666667 0.         0.        ]
 [0.25       0.         0.         0.08333333 0.         0.33333333
  0.11111111 0.         0.16666667 0.         0.        ]
 [0.         0.1        0.         0.         0.         0.
  0.11111111 0.         0.5        0.         0.        ]]

In [ ]:
X_test = []
X_test.append(inputs[0:timesteps])
X_test = np.array(X_test)
print(X_test.shape)
print(X_test[0, 1:14].shape)

(1, 14, 11)
(13, 11)

In [ ]:
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score

# --- Fonction pour calculer toutes les métriques ---
def safe_mape(y_true, y_pred):
    # on remplace les zéros par un petit nombre epsilon
    epsilon = 1e-8
    y_true_safe = np.where(y_true == 0, epsilon, y_true)
    return np.mean(np.abs((y_true - y_pred) / y_true_safe)) * 100


def evaluate_model_safe(y_true, y_pred):
    mae = mean_absolute_error(y_true, y_pred)
    mse = mean_squared_error(y_true, y_pred)
    rmse = np.sqrt(mse)
    mape = safe_mape(y_true, y_pred)

    # filtrer les NaN ou inf avant R2
    mask = np.isfinite(y_true) & np.isfinite(y_pred)
    r2 = r2_score(y_true[mask], y_pred[mask])
    return mae, mse, rmse, mape, r2



# Exemples pour les 3 modèles
models = {'MLP': mlp, 'SimpleRNN': rnn, 'GRU': gru_model}

results = {}

for name, model in models.items():
    print(f"\nEvaluating {name} ...")



    # Exemple pour y_true


    # --- Prédiction sur X_test ---
    y_pred_scaled = model.predict(X_test)

    y_pred = y_pred_scaled

    y_pred_full = np.hstack([y_pred, np.zeros((y_pred.shape[0], 1))])  # ajouter colonne factice
    y_pred_inverse = sc.inverse_transform(y_pred_full)[:, :-1]          # récupérer les 10 produits

    # --- Valeurs réelles correspondantes ---
    y_true = y_train[-y_pred.shape[0]:]

    y_true_full = np.hstack([y_true, np.zeros((y_true.shape[0], 1))])
    y_true_inverse = sc.inverse_transform(y_true_full)[:, :-1]

    # --- Calcul des métriques ---
    mae, mse, rmse, mape, r2 = evaluate_model_safe(y_true_inverse, y_pred_inverse)

    # --- Stockage des résultats ---
    results[name] = {'MAE': mae, 'MSE': mse, 'RMSE': rmse, 'MAPE': mape, 'R2': r2}

# --- Affichage résumé ---
import pandas as pd
results_df = pd.DataFrame(results).T
print("\n✅ Résultats des modèles :")
print(results_df)

Evaluating MLP ...
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 36ms/step

Evaluating SimpleRNN ...
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 46ms/step

Evaluating GRU ...
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 41ms/step

✅ Résultats des modèles :
                MAE       MSE      RMSE          MAPE        R2
MLP        1.095655  1.933508  1.390507  6.604008e+09  0.462914
SimpleRNN  0.612580  0.730639  0.854774  3.780197e+09  0.797045
GRU        0.697336  0.798880  0.893801  3.156138e+09  0.778089

## Conclusion

SimpleRNN est actuellement le meilleur modèle pour tes données.

GRU est proche, mais légèrement moins performant que SimpleRNN ici.

MLP est bien moins performant car il ne capture pas la dynamique temporelle.